Copyjob-Test/sample_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": false,
              "wildcardFileName": "*.parquet"
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "AzureBlobStorageLocation",
                  "container": "holidaydatacontainer",
                  "folderPath": "Processed"
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "public_holidays",
                "properties": {
                  "type": "AzureBlobStorage",
                  "typeProperties": {
                    "authenticationType": "Anonymous",
                    "containerUri": "https://azureopendatastorage.blob.core.windows.net/holidaydatacontainer"
                  }
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "applyVOrder": false,
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "holidaydatacontainer"
              },
              "schema": [],
              "linkedService": {
                "name": "datafactory_lakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "9615815d-5f4a-b926-4526-50c9d6e3f5ee",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy_2ph",
        "dependsOn": []
      },
      {
        "type": "Office365Email",
        "typeProperties": {
          "body": "<p>@{activity('Copy_2ph').output}</p>",
          "to": "User1-59955680@LODSPRODMCA.onmicrosoft.com",
          "subject": {
            "value": "@concat('DI in an Hour Pipeline Succeeded with Pipeline Run Id',pipeline().RunId)",
            "type": "Expression"
          }
        },
        "externalReferences": {
          "connection": "0322bc49-24ba-48ca-a7f0-785e353ea236"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Office365Email1",
        "dependsOn": [
          {
            "activity": "Dataflow1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "93811eea-de27-48d3-afba-f74040aa4c0d",
          "workspaceId": "b2e315da-e179-4b75-9589-1cde58c88363",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Copy_2ph",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ]
  }
}